@model List<Presupuestos>



<section>
    <h2 class="border-bottom mb-4">Presupuestos</h2>

    
        <div class="text-center">
            <a asp-controller="Presupuestos" asp-action="Crear" class="btn btn-success">Crear Presupuesto</a>
        </div>
    

    <table>
        <caption>Listado de Presupuestos</caption>

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Presupuestos pres in Model)
            {
                <tr>
                    <td>@pres.NombreDestinatario</td>
                    <td>@pres.Fecha</td>
                    <td>
                        <a asp-controller="Presupuestos" asp-action="VerPresupuesto" asp-route-id="@pres.IdPresupuesto" class="btn btn-info">Mostrar Detalle</a>
                        <a asp-controller="Presupuestos" asp-action="Modificar" asp-route-id="@pres.IdPresupuesto" class="btn btn-warning">Modificar</a>
                        <a asp-controller="Presupuestos" asp-action="Eliminar" asp-route-id="@pres.IdPresupuesto" class="btn btn-danger">Eliminar Presupuesto</a>
                        <a asp-controller="Presupuestos" asp-action="EliminarDetalle" asp-route-id="@pres.IdPresupuesto" class="btn btn-danger">Eliminar Detalle</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

